<ul>
  <% @sprint.each do |sprint| %>
    <li>
      <%= sprint.sprint %>
      <%= sprint.current %>
      <%= link_to "Edit", "/sprints/#{sprint.id}/edit" %>
    </li>
  <% end %>
</ul>

<%= button_to "New Sprint", "/sprints/new", method: :get %>